body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 22px 0 21px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

footer {
	background-color: #0D2C40;
	padding: 40px 20px;
	text-transform: uppercase;
	color: white;
	letter-spacing: .08em;
	font-weight: 500;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}

a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	color: #F15B31;
	background-color: white;
}

.social-links {
	font-size: 14px;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

h4, h5 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

h4 {
	margin: 20px 0;
}

h5 {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 30px;
	padding-bottom: 5px;
	border-bottom: 3px solid #F15B31;
	display: inline-block;
}

p {
	font-family: "Droid Serif", Serif;
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px;
}

button {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600;
	padding: 17px 30px;
	border: solid 3px #F15B31;
	background-color: #ffffff;
	color: #F15B31;
	text-transform: uppercase;
	display: block;
	margin: 10px auto;
}

button:hover {
	color: #ffffff;
	background-color: #F15B31;
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.new-game-button {
	color: #0D2C40;
	border-color: #0D2C40;
}

.new-game-button:hover {
	color: #ffffff;
	background-color: #0D2C40;
}

hr {
	border: 0;
	border-bottom: 2px dotted #0D2C40;
	width: 50%;
	margin: 40px auto;
}

.copyright, .message {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-top: 50px;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.score-text {
	font-family: "Raleway", sans-serif;
	margin: 30px 0px 0px 0px;
}

.actual-score {
	color: #F15B31;
	font-size: 180%;
}

